<!DOCTYPE html>
<html>
   <head>
      <title>Retail Sales</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='js/form.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/form-index.css') }}">
      <link rel="shortcut icon" href="#">
   </head>
   <body>
      <div class="container">
         <form class="form-inline">
            <div class="container form-group" style="position:relative;text-align:center;">
               <div style="float:left;">
                  <a href="https://abzooba.com/xpresso-ai/">
                     <img src="{{ url_for('static', filename='icon/xpresso_icon.png') }}" width="200">
                  </a>
               </div>
               <div style="display:inline-block;margin:0 auto;">
                  <p style="margin-bottom:7px;font-weight:bold;font-size:2.5rem"><i>Retail sales prediction</i></p>
               </div>
               <div style="float:right;">
                  <a href="https://www.abzooba.com">
                     <img src="{{ url_for('static', filename='icon/logo.png') }}" width="200">
                  </a>
               </div>
            </div>
            <div class="form-group">
               <div><p style="margin-right:5px;margin-top:15px;font-weight:bold;">Select </p></div>
               <select onchange="select_onchange()" id="sample_input" title="sample feature values" style="margin-right:5px" class="form-model" autocomplete="off">
                  <option>sample feature values</option>
                  <option id="sample_dnn" name="sample_dnn" value="DNN">for DNN model</option>
                  <option id="sample_xgboost" name="sample_xgboost" value="XGBoost">for XGBoost model</option>
               </select>
               <div><p style="margin-top:15px;font-weight:bold;">and click Submit to predict sales price. OR</p></div>
            </div>
            <div class="form-group" style="position:relative;text-align:center;">
               <div><p style="margin-top:15px;font-weight:bold;">Select</p></div>
               <select title="Models. Hover over each model in this drop-down to know it's required features" style="margin-left:5px;margin-right:5px;" class="form-model" id="Model" name="Model" autocomplete="off">
                  <option>model</option>
                  <option title="Features required: Store, DayOfWeek, Promo, StateHoliday, SchoolHoliday, StoreType, Assortment, Promo2, Date, isCompetition, CompetitionDistance" value="DNN">DNN</option>
                  <option title="Features required: CompetitionDistance, Promo, Promo2, NewAssortment, NewStoreType" value="XGBoost">XGBoost</option>
               </select>
               <div style="display:inline-block;margin:0 auto;font-weight:bold;margin-top:15px">
                  <p title="NOTE: Enter NA as value where a feature is not required by selected model. In case of date, leave it blank.">and fill in the feature values below.</p>
               </div>
            </div>
            <div class="form-group">
               <label title="a unique Id for each store" for="Store">Store</label>
               <input type="text" class="form-input" id="Store" name="Store" autocomplete="off">
               <label title="week days in numbers" for="DayOfWeek">Day of Week</label>
               <select class="form-model" id="DayOfWeek" name="DayOfWeek" autocomplete="off">
                  <option>select day</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="NA">NA</option>
               </select>
            </div>
            <div class="form-group">
               <label title="indicates whether a store is running a promo on that day Value(0/1)" for="Promo">Promo</label>
               <input type="text" class="form-top" id="Promo" name="Promo" autocomplete="off">
               <label title="indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. (a = public holiday, b = Easter holiday, c = Christmas, 0 = None) Specify value 0" for="StateHoliday">State Holiday</label>
               <input type="text" class="form-top" id="StateHoliday" name="StateHoliday" autocomplete="off">
            </div>
            <div class="form-group">
               <label title="indicates if the (Store, Date) was affected by the closure of public schools Value: 0/1" for="SchoolHoliday">School Holiday</label>
               <input type="text" class="form-top" id="SchoolHoliday" name="SchoolHoliday" autocomplete="off">
               <label title="differentiates between 4 different store models: a=0, b=1, c=2, d=3" for="StoreType">Store Type</label>
               <input type="text" class="form-top" id="StoreType" name="StoreType" autocomplete="off">
            </div>
            <div class="form-group">
               <label title="describes an assortment level: a(0) = basic, b(1) = extra, c(2) = extended" for="Assortment">Assortment</label>
               <input type="text" class="form-top" id="Assortment" name="Assortment" autocomplete="off">
               <label title="distance in meters to the nearest competitor store" for="CompetitionDistance">Distance (in m)</label>
               <input type="text" class="form-top" id="CompetitionDistance" name="CompetitionDistance" autocomplete="off">
            </div>
            <div class="form-group">
               <label title="Uses promo timestamp to determine if promo is active or not" for="Promo2">Promo2</label>
               <input type="text" class="form-top" id="Promo2" name="Promo2" autocomplete="off">
               <label title="Is the competitor valid? Value (0/1)" for="isCompetition">Is Competition?</label>
               <input type="text" class="form-top" id="isCompetition" name="isCompetition" autocomplete="off">
            </div>
            <div class="form-group">
               <label title="New assortment level" for="NewAssortment">New Assortment</label>
               <input type="text" class="form-top" id="NewAssortment" name="NewAssortment" autocomplete="off">
               <label title="New store model" for="NewStoreType">New Store Type</label>
               <input type="text" class="form-top" id="NewStoreType" name="NewStoreType" autocomplete="off">
            </div>
            <div class="form-group">
               <label title="Date when sales record was noted in dd/mm/yyyy format maximum is 2015-07-31 and minimum is 2013-01-01" for="date">Date of record</label>
               <input type="date" min="2013-01-01" max="2015-07-31" id="date" name="date" autocomplete="off">
            </div>
            <div class="form-group">
               <button type="submit" formmethod="post" class="form-predict">Submit</button>
               <input type="reset" value="Reset" class="form-reset" style="margin-left:5px;">
            </div>
            <div class="form-group">
               <input title="View prediction output here" type="text" style="margin-top:15px;background-color:#dcdadb;width:250px;color:black;" placeholder="Sales price (in $ per day)" autocomplete="off" class="form-output" id="output" disabled="">
            </div>
         </form>
         <hr style="margin-bottom:5px;margin-top:20px;">
         <footer>
            <div class="container form-group" style="position:relative;text-align:center;margin-top:5px;">
               <div style="float:left;">
                  <p style="font-size:0.7rem;">Powered by xpresso.ai</p>
               </div>
               <div style="display:inline-block;margin:0 auto;">
                  <p style="font-size:0.7rem;">@Copyright 2019-2020, the xpresso.ai team</p>
               </div>
               <div style="float:right;">
                  <p style="font-size:0.7rem;">Driven by Abzooba</p>
               </div>
            </div>
         </footer>
      </div>
   </body>
</html>